{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    {% import _self as macros %}
    <div class="body-section">
        <br/>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-12">
                    <div class="panel">
                        <div class="panel-header text-center">
                            <i class="far fa-comment-dots fa-2x fa-fw" aria-hidden="true"></i>
                            <h1 class="panel-title">{{ fsc.title }}</h1>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    {% for msg in fsc.messages %}
                                        {{ macros.chatMessage(msg, i18n) }}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <form action="{{ fsc.url() }}" method="post">
                                <div class="input-group">
                                    <input name="question" type="text" class="form-input" autocomplete="off" autofocus=""/>
                                    <button class="btn btn-primary input-group-btn">{{ i18n.trans('send') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro chatMessage(msg, i18n) %}
    {% set trClass = msg.certainty < 1 ? 'text-error' : '' %}
    <tr class="{{ trClass }}">
        <td class="text-right">
            {% if msg.ischatbot %}<b>ChatBot</b>{% else %}{{ i18n.trans('you') }}{% endif %}:
        </td>
        <td>
            {{ msg.content | raw | nl2br }}
            {% set chatVars = msg.getChatVars() %}
            {% if chatVars.buttons is not empty %}
                <br/>
            {% endif %}
            {% for button in chatVars.buttons %}
                {% if button.action == 'vote-up' %}
                    &nbsp;
                    <a href="?action=vote-up&id={{ msg.idmessage }}" class="btn">
                        <i class="fas fa-thumbs-up"></i>
                    </a>
                {% elseif button.action == 'vote-down' %}
                    <a href="?action=vote-down&id={{ msg.idmessage }}" class="btn">
                        <i class="fas fa-thumbs-down"></i>
                    </a>
                {% else %}
                    <a href="{{ button.url }}" target="{{ button.target }}" class="btn">
                        {{ i18n.trans(button.text) }}
                    </a>
                {% endif %}
            {% endfor %}
        </td>
        <td class="text-right hide-xs">
            <small>{{ msg.timesince() }}</small>
        </td>
    </tr>
{% endmacro %}